*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    position: fixed;
    padding: 0.5rem 2rem 0.5rem 1rem;
    background-color:#f52a4b;
    width: 100vw;
    height: 6vh;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.nav-links{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1.5rem;

}

.nav-links:hover{
    color: black;
}

#toggle{
    display: none;
}

.menu-btn{
    display: none;
}


.sections:nth-child(odd){
    height: 100vh;
    width: 100vw;
    background-color:black;
    padding-top: 6vh;
}

.sections:nth-child(even){
    height: 100vh;
    width: 100vw;
    background-color:gray;
    padding-top: 6vh;
}





@media screen and (max-width: 800px){

    .nav{
        position: fixed;
        padding: 0;
        background-color:#f52a4b;
        width: 100vw;
        height: 6vh;
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
        background-color:#f52a4b;
        width: 100%;
        padding-bottom: 2rem;
        display: none;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        color: white;
        background-color:#f52a4b;
        text-align: center;
        padding-bottom: 0.5rem;
        font-size: 25px;
        font-weight: 700;
    }

    .nav-links:hover{
        color: black;
    }
   
    .menu-btn{
        display: block;
        color: white;
        font-size: 25px;
        width: 30px;
        padding-left: 3.5px;
        margin: 0.1rem 1rem 0.1rem 1rem;
    
    }

    .menu-btn:hover{
        color: black;
    
    }

}

@media screen and (max-height: 500px){
    .nav{
      height: 12vh;
    }
}

